USE [master]
GO
/****** Object:  Database [Яковлев7пр]    Script Date: 15.05.2023 12:20:50 ******/
CREATE DATABASE [Яковлев7пр]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Яковлев7пр', FILENAME = N'D:\Личная папка\Яковлев7пр.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Яковлев7пр_log', FILENAME = N'D:\Личная папка\Яковлев7пр_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048KB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Яковлев7пр].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Яковлев7пр]
GO
/****** Object:  Table [dbo].[Должность$]    Script Date: 15.05.2023 12:20:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Должность$](
	[Код_должности] [int] NOT NULL,
	[Наименование должности] [nvarchar](255) NULL,
 CONSTRAINT [PK_Должность$] PRIMARY KEY CLUSTERED 
(
	[Код_должности] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Заказы$]    Script Date: 15.05.2023 12:20:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Заказы$](
	[ID] [int] NOT NULL,
	[Дата создания] [date] NULL,
	[Время заказа] [time](7) NULL,
	[Код клиента] [int] NULL,
	[Статус] [nvarchar](255) NULL,
	[Дата закрытия] [date] NULL,
	[Время проката] [int] NULL,
	[Код сотрудника] [int] NULL,
 CONSTRAINT [PK_Заказы$] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Клиенты$]    Script Date: 15.05.2023 12:20:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Клиенты$](
	[ФИО] [nvarchar](255) NULL,
	[Код клиента] [int] NOT NULL,
	[Паспортные данные] [nvarchar](255) NULL,
	[Дата рождения] [date] NULL,
	[Адрес] [nvarchar](255) NULL,
	[e-mail] [nvarchar](255) NULL,
	[password] [nvarchar](255) NULL,
 CONSTRAINT [PK_Клиенты$] PRIMARY KEY CLUSTERED 
(
	[Код клиента] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Сотрудники$]    Script Date: 15.05.2023 12:20:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Сотрудники$](
	[Код сотрудника] [int] NOT NULL,
	[ФИО ] [nvarchar](255) NULL,
	[Код должности] [int] NULL,
	[Логин ] [nvarchar](255) NULL,
	[Пароль] [nvarchar](255) NULL,
	[Последний вход] [datetime] NULL,
	[Тип входа] [nvarchar](255) NULL,
 CONSTRAINT [PK_Сотрудники$] PRIMARY KEY CLUSTERED 
(
	[Код сотрудника] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Услуги$]    Script Date: 15.05.2023 12:20:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Услуги$](
	[ID] [int] NOT NULL,
	[Наименование услуги] [nvarchar](255) NULL,
	[Стоимость, руб#  за час ] [int] NULL,
 CONSTRAINT [PK_Услуги$] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Чек$]    Script Date: 15.05.2023 12:20:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Чек$](
	[ID] [int] NOT NULL,
	[Код_чека] [int] NULL,
	[Код_услуги] [int] NULL,
	[Код_клиента] [int] NULL,
 CONSTRAINT [PK_Чек$] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Должность$] ([Код_должности], [Наименование должности]) VALUES (11, N'Администратор')
INSERT [dbo].[Должность$] ([Код_должности], [Наименование должности]) VALUES (22, N'Старший смены')
INSERT [dbo].[Должность$] ([Код_должности], [Наименование должности]) VALUES (33, N'Продавец')
GO
INSERT [dbo].[Заказы$] ([ID], [Дата создания], [Время заказа], [Код клиента], [Статус], [Дата закрытия], [Время проката], [Код сотрудника]) VALUES (1, CAST(N'2022-03-12' AS Date), CAST(N'09:10:00' AS Time), 45462526, N'Новая', NULL, 120, NULL)
INSERT [dbo].[Заказы$] ([ID], [Дата создания], [Время заказа], [Код клиента], [Статус], [Дата закрытия], [Время проката], [Код сотрудника]) VALUES (2, CAST(N'2022-03-13' AS Date), CAST(N'10:10:00' AS Time), 45462527, N'В прокате', NULL, 600, NULL)
INSERT [dbo].[Заказы$] ([ID], [Дата создания], [Время заказа], [Код клиента], [Статус], [Дата закрытия], [Время проката], [Код сотрудника]) VALUES (3, CAST(N'2022-03-14' AS Date), CAST(N'11:10:00' AS Time), 45462528, N'В прокате', NULL, 120, NULL)
GO
INSERT [dbo].[Клиенты$] ([ФИО], [Код клиента], [Паспортные данные], [Дата рождения], [Адрес], [e-mail], [password]) VALUES (N'Фролов Андрей Иванович', 45462526, N' 1180  176596', CAST(N'2001-07-14' AS Date), N'344288, г. Екатеринбург, ул. Чехова, 1, кв. 34', N'gohufreilagrau-3818@yopmail.com', N'cl12345')
INSERT [dbo].[Клиенты$] ([ФИО], [Код клиента], [Паспортные данные], [Дата рождения], [Адрес], [e-mail], [password]) VALUES (N'Николаев Даниил Всеволодович', 45462527, N' 2280  223523', CAST(N'2001-02-10' AS Date), N'614164, г. Екатеринбург, ул. Степная, 30, кв. 75', N'xawugosune-1385@yopmail.com', N'cl12346')
INSERT [dbo].[Клиенты$] ([ФИО], [Код клиента], [Паспортные данные], [Дата рождения], [Адрес], [e-mail], [password]) VALUES (N'Снегирев Макар Иванович', 45462528, N' 4560  354155', CAST(N'1998-05-21' AS Date), N'394242, г. Екатеринбург, ул. Коммунистическая, 43, кв. 57', N'satrahuddusei-4458@yopmail.com', N'cl12347')
GO
INSERT [dbo].[Сотрудники$] ([Код сотрудника], [ФИО ], [Код должности], [Логин ], [Пароль], [Последний вход], [Тип входа]) VALUES (101, N'Иванов Иван Иванович', 33, N'Ivanov@namecomp.ru', N'2L6KZG', CAST(N'2022-05-15T13:13:00.000' AS DateTime), N'Успешно')
INSERT [dbo].[Сотрудники$] ([Код сотрудника], [ФИО ], [Код должности], [Логин ], [Пароль], [Последний вход], [Тип входа]) VALUES (102, N'Петров Петр Петрович', 33, N'petrov@namecomp.ru', N'uzWC67', CAST(N'2022-05-15T13:13:00.000' AS DateTime), N'Успешно')
INSERT [dbo].[Сотрудники$] ([Код сотрудника], [ФИО ], [Код должности], [Логин ], [Пароль], [Последний вход], [Тип входа]) VALUES (103, N'Федоров Федор Федорович', 11, N'fedorov@namecomp.ru', N'8ntwUp', CAST(N'2022-05-15T13:13:00.000' AS DateTime), N'Успешно')
GO
INSERT [dbo].[Услуги$] ([ID], [Наименование услуги], [Стоимость, руб#  за час ]) VALUES (31, N'Прокат опорного оборудования для катка', 500)
INSERT [dbo].[Услуги$] ([ID], [Наименование услуги], [Стоимость, руб#  за час ]) VALUES (34, N'Обучение катанию на коньках', 1000)
INSERT [dbo].[Услуги$] ([ID], [Наименование услуги], [Стоимость, руб#  за час ]) VALUES (44, N'Прокат салазок', 450)
GO
INSERT [dbo].[Чек$] ([ID], [Код_чека], [Код_услуги], [Код_клиента]) VALUES (1, 1, 34, 45462526)
INSERT [dbo].[Чек$] ([ID], [Код_чека], [Код_услуги], [Код_клиента]) VALUES (2, 1, 31, 45462526)
INSERT [dbo].[Чек$] ([ID], [Код_чека], [Код_услуги], [Код_клиента]) VALUES (3, 1, 353, 45462526)
GO
ALTER TABLE [dbo].[Заказы$]  WITH CHECK ADD  CONSTRAINT [FK_Заказы$_Клиенты$] FOREIGN KEY([Код клиента])
REFERENCES [dbo].[Клиенты$] ([Код клиента])
GO
ALTER TABLE [dbo].[Заказы$] CHECK CONSTRAINT [FK_Заказы$_Клиенты$]
GO
ALTER TABLE [dbo].[Заказы$]  WITH CHECK ADD  CONSTRAINT [FK_Заказы$_Сотрудники$] FOREIGN KEY([Код сотрудника])
REFERENCES [dbo].[Сотрудники$] ([Код сотрудника])
GO
ALTER TABLE [dbo].[Заказы$] CHECK CONSTRAINT [FK_Заказы$_Сотрудники$]
GO
ALTER TABLE [dbo].[Сотрудники$]  WITH CHECK ADD  CONSTRAINT [FK_Сотрудники$_Должность$] FOREIGN KEY([Код должности])
REFERENCES [dbo].[Должность$] ([Код_должности])
GO
ALTER TABLE [dbo].[Сотрудники$] CHECK CONSTRAINT [FK_Сотрудники$_Должность$]
GO
ALTER TABLE [dbo].[Чек$]  WITH CHECK ADD  CONSTRAINT [FK_Чек$_Заказы$] FOREIGN KEY([Код_чека])
REFERENCES [dbo].[Заказы$] ([ID])
GO
ALTER TABLE [dbo].[Чек$] CHECK CONSTRAINT [FK_Чек$_Заказы$]
GO
ALTER TABLE [dbo].[Чек$]  WITH CHECK ADD  CONSTRAINT [FK_Чек$_Клиенты$] FOREIGN KEY([Код_клиента])
REFERENCES [dbo].[Клиенты$] ([Код клиента])
GO
ALTER TABLE [dbo].[Чек$] CHECK CONSTRAINT [FK_Чек$_Клиенты$]
GO
ALTER TABLE [dbo].[Чек$]  WITH CHECK ADD  CONSTRAINT [FK_Чек$_Услуги$] FOREIGN KEY([Код_услуги])
REFERENCES [dbo].[Услуги$] ([ID])
GO
ALTER TABLE [dbo].[Чек$] CHECK CONSTRAINT [FK_Чек$_Услуги$]
GO
USE [master]
GO
